.card {
  position: relative;
}

.content {
  margin: 1em auto;
}

.github {
  position: absolute;
  top: 0;
  right: 0;
}

.name {
  font-size: 200%;
}

.jobTitle {
  font-size: 150%;
}

.org {
  text-align: right;
}

.orgDetails {
  list-style: none;
}

.orgName {
  font-size: 175%
}

@media (orientation: portrait) {
  .content {
    width: 60%;
  }

  .name,
  .jobTitle,
  .orgName {
    margin: 1em 0;
  }
}
